* {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important
}

/* debug */
/*iframe {background: rgba(0,255,0,0.4)}
#code {background: rgba(0,0,255,0.4)}*/

/* styling */

body {
  font-family: 'Inconsolata', monospace;
}

#code {
  background: #fff;
  box-shadow: rgba(0,0,0,.2) 0 0 15px;
}

/* this should be a toggle element */
#toggle {
  border: 0;
  font-size: 3em;
  position: absolute;
  background: #fff;
  border-radius: 100%;
  width: 1em;
  height:1em;
  box-shadow: rgba(0,0,0,.2) 0 0 15px;
  cursor: pointer;
  transition: .5s, box-shadow .1s;
  left: 60%;
  top:0;
  margin: .25em;
}

#toggle:focus {
  outline: none;
  box-shadow: aquamarine 0 0 10px;
}

#toggle img {
  width: 1em;
  height: 1em;
  position: absolute;
  left: 0;
  top: 0;
  transition: .5s transform;
  transform: rotate(90deg);
}

.CodeMirror {
  margin: 1em;
  height: 80%;
  font-family: 'Inconsolata', monospace;
}
.CodeMirror .error-widget {
  margin-top: -1.05em;
  width: .5em;
  background: rgba(255, 0, 0, .5);
}

#error {
  background: rgba(255,0,0, .8);
  color: #fff;
  padding: .5em;
  position: absolute;
  bottom:0;
  z-index: 100;
  max-width: 80%;
}

/* positioning */
#code {
  position: absolute;
  top:0;
  bottom:0;
  right:40%;
  left:0;

  transition: .5s;
}

iframe {
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:60%;
  border: none;
  height: 100%;
  width: 50%;

  transition: .5s;
}




/* full screen frame */

.fill #code{
  transform: translateX(-100%);
}

.fill iframe {
  left: 0;
  width: 100%;
}

.fill #toggle {
  left: 0;
}

.fill #toggle img {
  transform: rotate(-90deg);
}



/* vertical stacked styling */

@media all and (orientation: portrait) {

    /* vertical */
    #code{
      top: 50%;
      right: 0;
      min-height: 50%;
    }

    iframe{
      top: 0;
      left: 0;
      width: 100%;
      height: 50%;
    }

    #toggle{
      left:0;
      top:50%;
      margin-top: -1.5em;
      transform: rotate(-90deg);
    }

    .fill #code{
      transform: translateY(100%);
    }

    .fill iframe{
      height: 100%;
    }

    .fill #toggle{
      top: 100%;
    }


}


/*
.x body {
  flex-direction: column
}
.x #toggle {
  left: .5em;
  bottom: 3.75em;
  transform: rotate(90deg);
}*/
