* {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important
}

/* debug */
/*iframe {background: rgba(0,255,0,0.4)}
#code {background: rgba(0,0,255,0.4)}*/

/* styling */

body {
  font-family: 'Inconsolata', monospace;
}

#code {
  background: #fff;
  box-shadow: rgba(0,0,0,.2) 0 0 15px;
}

/* this should be a toggle element */
button {
  z-index: 10;
  border: 0;
  font-size: 3em;
  position: absolute;
  background: #fff;
  border-radius: 100%;
  width: 1em;
  height:1em;
  box-shadow: rgba(0,0,0,.2) 0 0 15px;
  cursor: pointer;
  transition: .5s, box-shadow .1s;
  margin: .25em;
}

button:focus {
  outline: none;
  box-shadow: aquamarine 0 0 10px;
}

button img {
  width: 1em;
  height: 1em;
  position: absolute;
  left: 0;
  top: 0;
  transition: .5s transform;
}

button span {
  font-size: .3em;
  position: absolute;
  left: -5.5em;
  width: 5em;
  line-height: 1.5em;
  margin-top: -0.75em;
  text-align: right;
  font-weight: 800;
  color: rgba(0,0,0,0.7)
}

#toggle {
  transform: rotate(90deg);
}
/*
#edit {
  bottom:0;
  left:100%
}*/

#connection-state{
  position: absolute;
  font-size: 1em;
  z-index: 105;
  bottom:0;
  right:0;
  padding:.5em;
  background-image: url(icon-check.svg);
  background-repeat:no-repeat;
  background-position: right;
  background-size: 1.5em;
  padding-right: 1.5em;
  color: #000000;
  text-decoration: none;
}
#connection-state:hover {
  color: #08f;
}

#connection-state.default{
  padding-right: 0.5em;
  background-image: none;
}
#connection-state.default:after {
  content:' ·';
}

#connection-state.independent {
  background-image: url(icon-reload.svg);
}
#connection-state.connect {
  background-image: none;
  padding-right: 0.5em;
}


#connection-state img {
  height: 1em;
  vertical-align: middle;
}

.CodeMirror {
  /*margin: 1em;*/
  height: 100%;
  font-family: 'Inconsolata', monospace;
}
.CodeMirror .error-widget {
  margin-top: -1.05em;
  width: .5em;
  background: rgba(255, 0, 0, .5);
}

#foot {
  position: absolute;
  bottom:0;
  z-index: 100;
  max-width: 80%;
}

#file-state {
  display: block;
  padding: .5em;
  text-decoration: none;
  color: #000;
  background: rgba(255,255,255,0.9)
}
#file-state:hover {
  color: #08f
}


#error {
  background: rgba(255,0,0, .8);
  color: #fff;
  padding: .5em;
  z-index: 100;
}


/* positioning */
#code {
  position: absolute;
  top:0;
  bottom:0;
  right:40%;
  left:0;
  transition: .5s;
}

#toggle {
  left: 60%;
  top:0;
}

#live {
  left: 100%;
  margin-left: -1.25em;
  bottom:0;
}


iframe {
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:60%;
  border: none;
  height: 100%;
  width: 40%;

  transition: .5s;
}




/* full screen frame */

.fill #code{
  transform: translateX(-100%);
}

.fill iframe {
  left: 0;
  width: 100%;
}

.fill #toggle {
  left: 0;
}

.fill #toggle img {
  transform: rotate(-180deg);
}



/* vertical stacked styling */

/*
@media all and (orientation: portrait) {
*/
@media all and (max-width: 600px) {

    /* vertical */
    #code{
      top: 50%;
      right: 0;
      min-height: 50%;
    }

    iframe{
      top: 0;
      left: 0;
      width: 100%;
      height: 50%;
    }

    #toggle{
      left:0;
      top:50%;
      margin-top: -1.25em;
      transform: none;
    }

    #live{
      bottom:100%;
      margin-bottom: -1.25em;
    }

    .fill #code{
      transform: translateY(100%);
    }

    .fill iframe{
      height: 100%;
    }

    .fill #toggle{
      top: 100%;
    }


}


/*
.x body {
  flex-direction: column
}
.x #toggle {
  left: .5em;
  bottom: 3.75em;
  transform: rotate(90deg);
}*/


.modal {
  z-index: 120;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 5vmin;
  background: rgba(255,255,255,0.8);
  box-shadow: rgba(0,0,0,0.3) 0 0 15px;
  transition: transform .2s;
}
.modal.hidden {
  transform: translate(-50%, -50%) scale(0.001);
  display: none;
  /*top:-100%;*/
}

.modal ul {
  list-style: none;
  margin:0;
  padding: 1em;
}


.modal span {
  display:inline-block;
  width: 1em;
}

.modal label {
  color: #000;
  text-decoration: none;
  display: block;
  padding:.6em;
  white-space: nowrap;
  cursor: pointer;
  transition: background .1s;
  color: #333;
  position: relative;
}

.modal label.current:before{
  position: absolute;
  left:0;
  top:0;
  height: 100%;
  content: '';
  border-left: 3px solid #08f
}
.modal input[type=radio]{
  display:none;
}

.modal label:hover {
  background: #eee;
  color: #000
}


.modal input {
  display: inline;
  width: 9em;
  border:none;
  border-bottom: 1px solid #444;
  font-size: 1em;
  font-family: inherit;
  background: none;
  padding:.1em;
  /*width: 50%;*/

}
.modal input:focus{
  /*back*/
  outline: none;
  background: rgba(1,1,1,0.01)
}

#connection-overlay{
  position: fixed;
  background: rgba(255,255,255,0.8);
  left:0;
  top:0;
  right:0;
  bottom:0;
  z-index: 110;
}
#connection-overlay.hidden {
  display: none;
}

a.rm {
  float: right;
  color: #ccc;
  text-decoration: none;
  background: rgba(255,255,255,0);
  width: 1em;
  text-align: center;
  height: 1em;
  border-radius: 50%;
  transition: .2s
}

a.rm:hover{
  background: red;
  color: #fff
}
